@import url("https://fonts.googleapis.com/css2?family=McLaren&family=Open+Sans:wght@300;400&display=swap");

/*---------------------Global variable--*/
:root {
  --dark-bg: rgb(8, 8, 33);
  --win: rgb(80, 200, 120);
  --lose: rgb(255, 83, 73);
  --highlight-elements: rgb(237, 229, 110);
  --light: rgb(255, 254, 235);
  --titles: "McLaren", cursive;
  --text-normal: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--titles);
}

body {
  /*Background by SVGBackgrounds.com */
  background-color: var(--dark-bg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23171F44' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2313223A'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  color: var(--light);
  width: 100%;
  height: auto;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
/*-----------------------header--------*/
.main-info {
  padding: 1em 1.2em;
  display: flex;
  justify-content: space-between;
  /*margin-bottom: 1em;*/
  width: 100vw;
}

.title {
  font-size: 1.9rem;
}

.symbol {
  padding-left: 5px;
  color: rgb(241, 241, 67);
  font-weight: bolder;
  font-size: 2.2rem;
  vertical-align: middle;
}

.game-options {
  flex-direction: row;
  justify-items: baseline;
  align-self: center;
}

.secundary-btn {
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: var(--dark-bg);
}

#help,
#restart {
  transition: all 500ms;
}

.fa-arrow-rotate-right {
  color: var(--light);
  font-size: 1.4rem;
}

.fa-circle-question {
  color: var(--highlight-elements);
  font-size: 1.4rem;
}

#help:hover {
  box-shadow: 0 0 12px 2px var(--light);
  transform: scale(1.4);
}

#restart:hover {
  transform: scale(1.4);
}

.secundary-btn + .secundary-btn {
  margin-left: 1.5em;
}

/*-----------------------game--------*/
.game {
  width: 100vw;
}

.outer-game-container {
  margin: 4% auto;
  width: 95%;
  max-width: 900px;
}

.user-instruction {
  text-align: center;
  padding: 0.5em;
}

.user-options-container {
  padding: 1.5em 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 2em;
  margin-bottom: 2em;
}

.user-option {
  background-color: var(--light);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 9px rgb(153, 153, 153);
  transition: transform 200ms;
}

.user-option:hover {
  box-shadow: 0 0 10px 5px var(--highlight-elements);

  transform: translateY(10px);
}

.hands {
  padding: 0.7em;
  width: 55px;
  height: 55px;
}

/*-----------------------------Battle container---------------------------*/

.battle-results {
  display: none;
  position: relative;
}

.battle {
  width: 90%;
  max-width: 900px;
  margin: 5% auto;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 1em;
}

.battle-results {
  padding: 1em 2em;
}

.display {
  background-color: var(--light);
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-hands {
  width: 80px;
  height: 80px;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#next-round,
#return,
.new-try {
  padding: 0.5em 1em;
  font-family: var(--titles);
  font-weight: bold;
  font-size: 0.95rem;
  background-color: var(--light);
  color: var(--dark-bg);
  text-transform: uppercase;
  border: none;
  border-radius: 15px;
  transition: all 1000ms;
}

#next-round:hover,
#return:hover,
.new-try {
  background-color: var(--highlight-elements);
  transform: scale(1.2);
}

.message {
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  text-align: center;
  color: var(--light);
  font-size: 1.2rem;
  font-weight: bold;
}

/*--------------------score container---------*/

.results {
  text-align: center;
  background-color: rgba(104, 158, 221, 0.486);
  padding: 1.4em 0;
  border-radius: 10px;
  width: 90%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.scores {
  display: inline-flex;
  padding-top: 0.5em;
  width: 60%;
}

.score-user {
  margin-right: auto;
}

.round-result,
#user-result,
#computer-result {
  border: 2px solid var(--light);
  background-color: var(--light);
  padding: 0.1em 0.3em;
  border-radius: 5px;
  color: var(--dark-bg);
  font-weight: 900;
}

/*-------------------Effects to announce the results */
.win-glow {
  background-color: var(--win);
  box-shadow: 0 0 10px 6px var(--win);
}

.lose-glow {
  background-color: var(--lose);
  box-shadow: 0 0 10px 6px var(--lose);
}

.draw-glow {
  background-color: var(--highlight-elements);
  box-shadow: 0 0 10px 6px var(--highlight-elements);
  border: none;
}

/*--------------------modal screens*/

.outer-modal-container,
.outer-modal-container-over {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.452);
  display: none;
}

.modal-container {
  padding: 0.5em 0;
  margin: 2% auto;
  width: 95%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: rgb(25, 66, 112);
  border-radius: 20px;
}

.rule {
  list-style-type: none;
  padding: 0 0.5em;
  line-height: 2em;
  font-size: 1.1rem;
  text-align: center;
}

.action {
  vertical-align: super;
  font-family: var(--titles);
}

.rule-img {
  width: 30px;
  padding: 0.2em;
  border-radius: 50%;
  background-color: var(--light);
}

.rule-img + .rule-img {
  margin-top: 0.5em;
}

.modal-container-over {
  padding: 0.5em 0;
  margin: 30% auto;
  width: 95%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  background-color: rgb(25, 66, 112);
  border-radius: 20px;
}

.modal-header-over {
  padding: 1.5em 1em;
}

.modal-content-over {
  font-size: 1.5rem;
  padding: 0 1.2em;
}

.modal-footer-over {
  padding-bottom: 1.5em;
}

/*------------------------media queries*/

/*------------Media query for min-width: 500px and above*/
@media screen and (min-width: 500px) {
  .main-info {
    padding-left: 4em;
    padding-right: 3em;
  }

  .fa-arrow-rotate-right,
  .fa-circle-question {
    font-size: 1.7rem;
  }

  .user-options-container {
    padding: 3em 3em;
    gap: 3.5em;
  }

  .hands {
    padding: 1em;
    width: 100px;
    height: 100px;
  }

  .display {
    display: flex;
    width: 150px;
    height: 150px;
  }

  .change-hands {
    width: 130px;
    height: 130px;
  }

  .message {
    margin-top: 1em;
    font-size: 1.7rem;
    letter-spacing: 2px;
  }

  #next-round {
    margin-top: 1.5em;
    font-size: 1.1rem;
  }

  .results {
    font-size: 1.5rem;
  }

  .scores {
    margin-top: 1em;
  }

  .modal-title {
    font-size: 1.8rem;
  }

  .rule {
    font-size: 1.4rem;
  }

  .rule-img {
    width: 50px;
    height: 50px;
  }
}

/*------------Media query for min-width: 900px and above*/
@media screen and (min-width: 900px) {
  .main-info {
    padding: 3em 5em 0;
  }

  .title {
    font-size: 3.2rem;
  }

  .symbol {
    font-size: 3.2rem;
  }

  .battle {
    margin: 0 auto;
  }

  .modal-container-over {
    margin: 15% auto;
  }
}
