@import url("https://fonts.googleapis.com/css2?family=McLaren&family=Open+Sans:wght@300;400&display=swap");

/*---------------------Global variable--*/
:root {
  --dark-bg: rgb(26, 19, 36);
  --win: rgb(39, 185, 39);
  --lose: rgb(238, 82, 82);
  --highlight-elements: rgb(237, 229, 110);
  --light: rgb(250, 253, 246);
  --button-borders: rgb(119, 71, 187);
  --titles: "McLaren", cursive;
  --text-normal: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--titles);
}

body {
  background-color: var(--dark-bg);
  color: var(--light);
  width: 100vw;
  height: auto;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
/*-----------------------header--------*/
.main-info {
  background-color: aquamarine;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.game-options {
  flex-direction: row;
  justify-items: baseline;
  align-self: center;
}

.secundary-btn + .secundary-btn {
  margin-left: 1.5em;
}
/*-----------------------game--------*/
.game {
  background-color: blue;
  width: 100vw;
}

.outer-game-container {
  margin-left: auto;
  margin-right: auto;
  background-color: blueviolet;
  width: 90%;
  max-width: 900px;
}

.user-instruction {
  text-align: center;
  background-color: brown;
  padding: 0.5em;
}

.user-options-container {
  background-color: var(--dark-bg);
  padding: 1.5em 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1.5em;
  margin-bottom: 2em;
}

.user-option {
  background-color: var(--light);
  padding: 0.5em;
  border-radius: 50%;
  border: 6px solid var(--button-borders);
  box-shadow: 0 0 11px 1px var(--light);
  transition: transform 2s;
}

.user-option:hover {
  box-shadow: none;
  transform: rotate(1turn);
}

.hands {
  width: 40px;
  height: 40px;
}

/*-----------------------------Battle container---------------------------*/

.battle-results {
  background-color: var(--lose);
  margin: 1em 0;
  display: none;
}

.battle {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 1em;
}

.display {
  border: 2px solid var(--light);
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
}

.message {
  background-color: rgb(246, 246, 8);
  padding: 1em 0;
  text-align: center;
}

/*--------------------score container---------*/

.results {
  text-align: center;
}

.scores {
  display: inline-flex;
  padding-top: 0.5em;
  width: 90%;
  max-width: 900px;
}

.score-user {
  margin-right: auto;
}
